﻿@model Heriyanto.ApplicationForm

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
  $( function() {
      $("#dp1").datepicker({
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          yearRange: '1950:2020',
          changeYear: true
          });
  });
</script>

<style>
    .ui-datepicker {
        position: relative;
        z-index: 10000 !important;
    }
</style>

<script type="text/javascript">
    document.getElementById("dp1").value = "";
</script>

<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" style="color:#ffffff">Application Form</h4>
</div>

@using (Html.BeginForm("saveCreate", "ApplicationForms", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="modal-body" style="margin:auto">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Name *</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Email *</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Mobile Phone Number *</label>
                        @Html.EditorFor(model => model.Mobile_Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Alternative Phone Number</label>
                        @Html.EditorFor(model => model.Alternative_Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Place of Birth *</label>
                        @Html.EditorFor(model => model.Place_of_Birth, new { htmlAttributes = new { @class = "form-control", required = "" } })
                        @Html.ValidationMessageFor(model => model.Place_of_Birth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Date of Birth *</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.Date_of_Birth, new { htmlAttributes = new { @class = "form-control", @id = "dp1", @readonly = "readonly" } })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Date_of_Birth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label style="font-weight: 100">Collage / University *</label>
                        @Html.EditorFor(model => model.Last_Education, new { htmlAttributes = new { @class = "form-control", required = "" } })
                        @Html.ValidationMessageFor(model => model.Last_Education, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Collage University *</label>
                        @Html.EditorFor(model => model.Collage_University, new { htmlAttributes = new { @class = "form-control", required = "" } })
                        @Html.ValidationMessageFor(model => model.Collage_University, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label style="font-weight: 100">Major *</label>
                        @Html.EditorFor(model => model.Major, new { htmlAttributes = new { @class = "form-control", required = "" } })
                        @Html.ValidationMessageFor(model => model.Major, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label style="font-weight: 100">Position Apply *</label>
                        @Html.TextAreaFor(model => model.Position_Apply, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Position_Apply, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label style="font-weight: 100">Source *</label>
                        @Html.TextAreaFor(model => model.Source, new { @class = "form-control", required = "" })
                        @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

    </div>
    <div class="modal-footer justify-content-between">

    </div>
}
