﻿@model Heriyanto.ApplicationForm

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-header" style="background:#F5F5F5">
    <div class="field">
        <div class="row">
            <div class="col-md-10">
                <h2 class="modal-title">Detail Proses</h2>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="card-body">
        TEST
    </div>
</div>