﻿@model Heriyanto.ApplicationForm

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<div class="modal-header blue" style="background-color:#000066;  max-width: none;">
    <h4 class="modal-title" style="color:#ffffff">Edit Resource Project Form</h4>
</div>

@using (Html.BeginForm("SaveEdit", "ApplicationForms", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ApplicationForm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Name)

        @Html.HiddenFor(model => model.Mobile_Phone_Number)

        <div class="modal-body" style="margin:auto;">
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Alternative_Phone_Number, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alternative_Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alternative_Phone_Number, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Email)

                @Html.HiddenFor(model => model.Place_of_Birth)

                @Html.HiddenFor(model => model.Date_of_Birth)

                @Html.HiddenFor(model => model.Last_Education)

                @Html.HiddenFor(model => model.Collage_University)

                @Html.HiddenFor(model => model.Major)

                @Html.HiddenFor(model => model.Position_Apply)

                @Html.HiddenFor(model => model.Event)

                @Html.HiddenFor(model => model.Career_Ceenter)

                @Html.HiddenFor(model => model.Referral_Name)

                @Html.HiddenFor(model => model.Referral_Mobile_Phone_Number)

                @Html.HiddenFor(model => model.Referral_Email)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
