﻿@model IEnumerable<Heriyanto.ApplicationForm>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function detailModal(url) {
        $('#modelContent').load(url);
        $('#myModal').modal('show');
    }

    function editModal(url) {
        $('#Edit').load(url);
        $('#myModalEdit').modal('show');
    }

    function deleteModal(url) {
        $('#Delete').load(url);
        $('#myModalDelete').modal('show');
    }
</script>

@using (Html.BeginForm("Index", "ApplicationForms", FormMethod.Get, new { id = "form1" }))
{
    <div class="row" id="ApplicationForm">
        <div class="col-lg-10" style="padding: 25px 0px">
            <div class="col-lg-3">
                @Html.TextBox("searchName", "", new { @class = "form-control", placeholder = "Name", id = "searchName", title = "Inputkan Nama", Value = ViewBag.CurrentFilter })
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModelCreate">
                <i class="glyphicon glyphicon-plus-sign">
                </i>
            </button>
        </div>
    </div>
}


<table class="table table-striped" id="listData">
    <thead style="border-top:3px solid #000066;">
        <tr>
            <th>
                <b>NAME</b>
            </th>
            <th>
                <b>EMAIL</b>
            </th>
            <th>
                <b>PHONE NUMBER</b>
            </th>
            <th>
                <b style="padding-left: 40px;">#</b>
            </th>
        </tr>
    </thead>
    <tbody style="background-color:#DDD6FF;border-top:3px solid #000066;">
        @foreach (var item in Model)
        {
            <tr style="border-top:1px solid #000066;">
                <td style="padding-top:15px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="padding-top:15px;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="padding-top:15px; color:#000066;">
                    @Html.DisplayFor(modelItem => item.Mobile_Phone_Number)
                </td>

                <td class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="color:white; background-color : #000066" aria-haspopup="true" aria-expanded="false">
                        MORE <span class="caret" style="margin-left: 5px; margin-top: 8px;"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top:-7px; margin-left:7px">
                        <ul class="dropdown-item" onclick="detailModal('@Url.Action("Details", "ApplicationForms", new { id = item.Name })')">Detail</ul>
                        <ul class="dropdown-item" onclick="editModal('@Url.Action("Edit", "ApplicationForms", new { id = item.Name })')">Ubah</ul>
                        <ul class="dropdown-item" onclick="deleteModal('@Url.Action("Delete", "ApplicationForms", new { id = item.Name })')">Hapus</ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <h3>@ViewBag.message</h3>
</div>

<div id='myModelCreate' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='Create'>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" aria-labelledby="myModalLabel" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="modelContent">
        </div>
    </div>
</div>

<div id='myModalEdit' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='Edit'>
            </div>
        </div>
    </div>
</div>

<div id='myModalDelete' class='modal fade'>
    <div class="modal-dialog " style="max-width:400px">
        <div class="modal-content">
            <div id='Delete'>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script>
    var TeamDetailPostBackURL = '/ApplicationForms/Details';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContentDetail').html(data);
                    $('#myModalDetail').modal(options);
                    $('#myModalDetail').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

    });
</script>


<script>
    $('#Create').load('/ApplicationForms/Create');
</script>
}